n8n-workflows/temperature-alert-v4.json
{
    "name": "温度报警分析工作流 v4 (区分高低温)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "temperature-alert",
                "options": {
                    "responseMode": "responseNode"
                }
            },
            "id": "webhook-trigger",
            "name": "Temperature Alert Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "temperature-alert"
        },
        {
            "parameters": {
                "jsCode": "// 调试：打印收到的原始数据\nconst rawInput = $input.first().json;\n\n// 获取数据 - 检查多种可能的结构\nlet data;\nif (rawInput.body && rawInput.body.data) {\n  data = rawInput.body.data;\n} else if (rawInput.data) {\n  data = rawInput.data;\n} else {\n  data = rawInput;\n}\n\n// 判断报警类型\nconst alertType = data.alertType || 'high';\nconst isHighTemp = alertType === 'high';\n\n// 格式化输出\nreturn [{\n  json: {\n    roomCode: data.roomCode || 'UNKNOWN',\n    roomName: data.roomName || data.roomCode || '未知房间',\n    temperature: data.temperature || 0,\n    threshold: data.threshold || (isHighTemp ? 28 : 0),\n    alertType: alertType,\n    isHighTemp: isHighTemp,\n    severity: data.severity || 'warning',\n    timestamp: data.timestamp || new Date().toISOString(),\n    fileId: data.fileId,\n    alertTypeText: isHighTemp ? '高温' : '低温',\n    message: `房间 ${data.roomName || data.roomCode || '未知'} ${isHighTemp ? '高温' : '低温'}报警: ${data.temperature}°C (阈值: ${data.threshold || (isHighTemp ? 28 : 0)}°C)`\n  }\n}];"
            },
            "id": "parse-alert",
            "name": "Parse Alert Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"你是一个建筑设备运维专家。系统检测到以下{{ $json.alertTypeText }}异常：\\n\\n【报警信息】\\n- 位置: {{ $json.roomName }} ({{ $json.roomCode }})\\n- 当前温度: {{ $json.temperature }}°C\\n- {{ $json.isHighTemp ? '高温阈值' : '低温阈值' }}: {{ $json.threshold }}°C\\n- 报警类型: {{ $json.alertTypeText }}\\n- 严重程度: {{ $json.severity }}\\n- 时间: {{ $json.timestamp }}\\n\\n请针对{{ $json.alertTypeText }}异常提供专业分析报告，格式如下：\\n\\n## 原因分析\\n[列出3-5个可能导致{{ $json.alertTypeText }}异常的原因，{{ $json.isHighTemp ? '例如：冷却系统故障、过载运行、散热不良等' : '例如：供暖系统故障、保温层损坏、门窗密封不良等' }}]\\n\\n## 处置方案\\n[分步骤列出针对{{ $json.alertTypeText }}的建议处置措施]\\n\\n## 预防建议\\n[列出预防此类{{ $json.alertTypeText }}问题的措施]\\n\\n注意：直接给出专业建议，不要追问更多信息。用中文回答。\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 2048\n  }\n}",
                "options": {}
            },
            "id": "gemini-http",
            "name": "Call Gemini API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// 解析 Gemini API 响应并组装最终结果\nconst alertData = $('Parse Alert Data').first().json;\nconst geminiResponse = $input.first().json;\n\n// 提取 Gemini 返回的文本\nlet analysisText = '';\ntry {\n  if (geminiResponse.candidates && geminiResponse.candidates[0]) {\n    const content = geminiResponse.candidates[0].content;\n    if (content && content.parts && content.parts[0]) {\n      analysisText = content.parts[0].text;\n    }\n  }\n} catch (e) {\n  analysisText = '分析失败: ' + e.message;\n}\n\nreturn [{\n  json: {\n    success: true,\n    alert: alertData,\n    analysis: analysisText,\n    processedAt: new Date().toISOString()\n  }\n}];"
            },
            "id": "format-result",
            "name": "Format Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "Temperature Alert Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Alert Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Alert Data": {
            "main": [
                [
                    {
                        "node": "Call Gemini API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Gemini API": {
            "main": [
                [
                    {
                        "node": "Format Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Result": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        "tandem",
        "temperature",
        "alert",
        "gemini",
        "high-low-temp"
    ]
}