n8n-workflows/temperature-alert-v2.json
{
    "name": "温度报警分析工作流 v2",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "temperature-alert",
                "options": {
                    "responseMode": "responseNode"
                }
            },
            "id": "webhook-trigger",
            "name": "Temperature Alert Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "temperature-alert"
        },
        {
            "parameters": {
                "jsCode": "// 解析报警数据\nconst alertData = $input.first().json;\nconst data = alertData.data || alertData;\n\n// 格式化输出\nreturn [{\n  json: {\n    roomCode: data.roomCode || 'UNKNOWN',\n    roomName: data.roomName || data.roomCode || '未知房间',\n    temperature: data.temperature || 0,\n    threshold: data.threshold || 30,\n    severity: data.severity || (data.temperature >= (data.threshold || 30) + 5 ? 'critical' : 'warning'),\n    timestamp: data.timestamp || new Date().toISOString(),\n    fileId: data.fileId,\n    message: `房间 ${data.roomName || data.roomCode || '未知'} 温度报警: ${data.temperature}°C (阈值: ${data.threshold || 30}°C)`\n  }\n}];"
            },
            "id": "parse-alert",
            "name": "Parse Alert Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"你是一个建筑设备运维专家。用户报告了一个温度异常情况，请分析原因并提供处置方案。\\n\\n报警信息：\\n- 位置: {{ $json.roomName }} ({{ $json.roomCode }})\\n- 当前温度: {{ $json.temperature }}°C\\n- 阈值温度: {{ $json.threshold }}°C\\n- 严重程度: {{ $json.severity }}\\n- 时间: {{ $json.timestamp }}\\n\\n请提供：\\n1. 可能的原因分析（3-5个）\\n2. 建议的处置步骤\\n3. 预防措施\\n\\n请用中文回答，格式清晰。\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 2048\n  }\n}",
                "options": {}
            },
            "id": "gemini-http",
            "name": "Call Gemini API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// 解析 Gemini API 响应并组装最终结果\nconst alertData = $('Parse Alert Data').first().json;\nconst geminiResponse = $input.first().json;\n\n// 提取 Gemini 返回的文本\nlet analysisText = '';\ntry {\n  if (geminiResponse.candidates && geminiResponse.candidates[0]) {\n    const content = geminiResponse.candidates[0].content;\n    if (content && content.parts && content.parts[0]) {\n      analysisText = content.parts[0].text;\n    }\n  }\n} catch (e) {\n  analysisText = '分析失败: ' + e.message;\n}\n\nreturn [{\n  json: {\n    success: true,\n    alert: alertData,\n    analysis: analysisText,\n    processedAt: new Date().toISOString()\n  }\n}];"
            },
            "id": "format-result",
            "name": "Format Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "Temperature Alert Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Alert Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Alert Data": {
            "main": [
                [
                    {
                        "node": "Call Gemini API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Gemini API": {
            "main": [
                [
                    {
                        "node": "Format Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Result": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        "tandem",
        "temperature",
        "alert",
        "gemini"
    ]
}