n8n-workflows/temperature-alert.json
{
    "name": "温度报警分析工作流",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "temperature-alert",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Temperature Alert Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// 解析报警数据\nconst alertData = $input.first().json;\nconst data = alertData.data || alertData;\n\n// 格式化输出\nreturn [{\n  json: {\n    roomCode: data.roomCode,\n    roomName: data.roomName,\n    temperature: data.temperature,\n    threshold: data.threshold,\n    severity: data.severity || (data.temperature >= data.threshold + 5 ? 'critical' : 'warning'),\n    timestamp: data.timestamp || new Date().toISOString(),\n    fileId: data.fileId,\n    message: `房间 ${data.roomName || data.roomCode} 温度报警: ${data.temperature}°C (阈值: ${data.threshold}°C)`\n  }\n}];"
            },
            "id": "parse-alert",
            "name": "Parse Alert Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "model": "gemini-2.0-flash-exp",
                "messages": {
                    "values": [
                        {
                            "content": "=你是一个建筑设备运维专家。用户报告了一个温度异常情况，请分析原因并提供处置方案。\n\n报警信息：\n- 位置: {{ $json.roomName }} ({{ $json.roomCode }})\n- 当前温度: {{ $json.temperature }}°C\n- 阈值温度: {{ $json.threshold }}°C\n- 严重程度: {{ $json.severity }}\n- 时间: {{ $json.timestamp }}\n\n请提供：\n1. 可能的原因分析（3-5个）\n2. 建议的处置步骤\n3. 预防措施\n\n请用中文回答，格式清晰。"
                        }
                    ]
                },
                "options": {}
            },
            "id": "gemini-analysis",
            "name": "Gemini Analysis",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "",
                    "name": "Google Gemini API"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 组装最终结果\nconst alertData = $('Parse Alert Data').first().json;\nconst analysis = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    alert: alertData,\n    analysis: analysis.text || analysis.output || analysis,\n    processedAt: new Date().toISOString()\n  }\n}];"
            },
            "id": "format-result",
            "name": "Format Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "Temperature Alert Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Alert Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Alert Data": {
            "main": [
                [
                    {
                        "node": "Gemini Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Analysis": {
            "main": [
                [
                    {
                        "node": "Format Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Result": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        "tandem",
        "temperature",
        "alert",
        "gemini"
    ]
}