nodered/冰箱.json
[
    {
        "id": "b13c0570e2785998",
        "type": "tab",
        "label": "冰箱",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "81860d9e843a98dc",
        "type": "debug",
        "z": "b13c0570e2785998",
        "name": "debug ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 180,
        "wires": []
    },
    {
        "id": "258ecc0d77e53528",
        "type": "inject",
        "z": "b13c0570e2785998",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "3802426346018f8f"
            ]
        ]
    },
    {
        "id": "3802426346018f8f",
        "type": "api-current-state",
        "z": "b13c0570e2785998",
        "name": "",
        "server": "09b7c85d2e8078ab",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "sensor.rf01_temperature",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload.room_temp",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "84ba6396e8d0d643"
            ]
        ]
    },
    {
        "id": "84ba6396e8d0d643",
        "type": "api-current-state",
        "z": "b13c0570e2785998",
        "name": "",
        "server": "09b7c85d2e8078ab",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "sensor.rf01_humidity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload.room_humi",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 820,
        "y": 200,
        "wires": [
            [
                "a6521dad9ed1f10f",
                "9d6932e809f4311e"
            ]
        ]
    },
    {
        "id": "a6521dad9ed1f10f",
        "type": "http request",
        "z": "b13c0570e2785998",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:3001/api/v1/timeseries/streams/6/BF02US01?key=jE9YbUaHjNIHUMeKczgT6q",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1140,
        "y": 360,
        "wires": [
            [
                "81860d9e843a98dc"
            ]
        ]
    },
    {
        "id": "9d6932e809f4311e",
        "type": "http request",
        "z": "b13c0570e2785998",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://twinsight.up.railway.app/api/v1/timeseries/streams/4/BF02US01?key=0lI851beSWwOTLbkjFLZW2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1140,
        "y": 480,
        "wires": [
            [
                "81860d9e843a98dc"
            ]
        ]
    },
    {
        "id": "09b7c85d2e8078ab",
        "type": "server",
        "name": "Home Assistant",
        "version": 6,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [
            "y",
            "yes",
            "true",
            "on",
            "home",
            "open"
        ],
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "b4c6318d8087cc7d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]